.error {
    width: 50%;
    margin: 0 auto;
    padding: 4rem 2rem 2rem 2rem;
}

.error img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.error-msg {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.5%;
    text-align: center;
    color: #9B8FAE;
}

.error-msg-500 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #2C2140;
}

.redirect {
    width: 240px !important;
    margin: 0 auto;
}

@media (max-width: 767px) {

    .error {
        width: 100%;
    }

    .error img {
        width: 90%;
    }

    .error-msg {
        width: 70%;
        margin: 2rem auto;
    }

    .error-msg-500 {
        width: 70%;
        margin: 2rem auto 5rem auto;
    }

    .redirect {
        width: 100% !important;
    }
}